{% if settings.product_single_faqs_faqs_store_features | length > 0 %}
<section class="tp-faqs s-block">
    <div class="container">
        <div class="tp-title-section">
            {% if settings.product_single_faqs_details_title %}
                <h3>{{ settings.product_single_faqs_details_title }}</h3>
            {% endif %}

            {% if settings.product_single_faqs_details_desc %}
                <p>{{ settings.product_single_faqs_details_desc }}</p>
            {% endif %}
        </div>

        <div class="faqs-box" id="faqs-box-{{ sectionId }}">
            {% for faq in settings.product_single_faqs_faqs_store_features %}
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapse-{{ sectionId }}-{{ loop.index }}" aria-expanded="false" aria-controls="collapse-{{ sectionId }}-{{ loop.index }}">
                        <span>{% if loop.index < 10 %}0{% endif %}{{ loop.index }}</span>
                        {{ faq.title }}
                    </button>
                </h2>
                <div id="collapse-{{ sectionId }}-{{ loop.index }}" class="accordion-collapse collapse" data-bs-parent="#faqs-box-{{ sectionId }}">
                    <div class="accordion-body">
                        {{ faq.answer }}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endif %}