{% if not settings.hide_element %}
<section class="tp-bar" style="background: {{ settings.background_color }};" section-id="{{ sectionId }}">
	<div class="tp-mask">
		<div class="tp-marquee" style="animation-duration:{{ settings.bar_speed | default(50) }}">
    {% for advertisement in settings.advertisement_bar or [] %}
          <a href="{% if advertisement.url %}{{ advertisement.url }}{% else %}javascript:;{% endif %}" style="color: {{ advertisement.text_color }};">
            {% if advertisement.image %}
            <img loading="lazy" width="26" height="26" class="lazy-img" data-src="{{ image_url(advertisement.image) }}"  alt="">
            {% endif %}
            {{ advertisement.title }}
          </a>
    {% endfor %}
		</div>
		<div class="tp-marquee" style="animation-duration:{{ settings.bar_speed | default(50) }}">
    {% for advertisement in settings.advertisement_bar or [] %}
          <a href="{% if advertisement.url %}{{ advertisement.url }}{% else %}javascript:;{% endif %}" style="color: {{ advertisement.text_color }};">
            {% if advertisement.image %}
            <img loading="lazy" width="26" height="26" class="lazy-img" data-src="{{ image_url(advertisement.image) }}"  alt="">
            {% endif %}
            {{ advertisement.title }}
          </a>
    {% endfor %}
		</div>
	</div>
</section>
{% endif %}