{% extends "layout.jinja" %}

{% block header %}
{% include 'header.jinja' %}
{% endblock %}

{% block top_links %}
<link rel="stylesheet" type="text/css" href="{{ 'toastr.min.css' | asset_url }}" />
{% endblock %}

{% block main_content %}

{%if category.slug == "store-one" %}
  {# Store One Hero Section #}
  <section class="store-one-hero" {%- if settings.store_one_hero_image -%} style="background-size: cover;background-position: center;background-image: url('{{ image_url(settings.store_one_hero_image) | trim }}')" {%- endif -%}>
    <div class="container">
      <div class="tp-hero-content">
        {% if settings.store_one_hero_subtitle %}
          <span>{{ settings.store_one_hero_subtitle }}</span>
        {% endif %}

        {% if settings.store_one_hero_title %}
          <h1>{{ settings.store_one_hero_title }}</h1>
        {% endif %}

        {% if settings.store_one_hero_des %}
          <p>{{ settings.store_one_hero_des }}</p>
        {% endif %}
  
        {% if settings.store_one_hero_btn_text and settings.store_one_hero_url %}
          <a href="{{ settings.store_one_hero_url }}" class="tp-btn">{{ settings.store_one_hero_btn_text }}</a>
        {% endif %}
      </div>
    </div>
  </section>

  {# Store One categories Section #}
  <section class="store-one-categories s-block">
    <div class="container">
      <div class="tp-section-title-wrapper mb-4">
        <h2 class="tp-section-title">{{ settings.store_one_cat_section_title }}</h2>
      </div>

      <div class="store-one-cat-slider swiper-container">
        <div class="swiper-wrapper">
          {% for categoryItem in safeget(settings, 'store_one_cat_section_categories', []) %}
          <div class="swiper-slide">
            <div class="store-one-cat-item">
              {% if categoryItem.image %}
              <div class="cat-thumb">
                <a href="{{ categoryItem.url }}">
                  <img loading="lazy" src="{{ image_url(categoryItem.image, { w: 235, q: 100, f:'auto' }) }}"
                    alt="{{ categoryItem.title }}">
                </a>
              </div>
              {% endif %}
              <div class="cat-content">
                <h3 class="cat-title">
                  <a href="{{ categoryItem.url }}">{{ categoryItem.title }}</a>
                </h3>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </section>

  {# products section #}
  <section class="store-one-categories s-block">
    <div class="container">
      <div class="tp-section-title-wrapper mb-4">
        <h2 class="tp-section-title">{{ settings.store_one_products_section_title }}</h2>
      </div>

      <div id="products-list" class="products-grid">
        {% for product in products.results %}
        {% set product=product %}{% set index=loop.index0 %}{% include 'components/product-card.jinja' %}
        {% endfor %}
      </div>
    </div>
  </section>

  {# banner with features section #}
  <section class="s-block banner_with_features">
    <div class="container">
      <div class="row">
        <div class="col-lg-7 p-2">
          <div class="banner_with_features_content">
            <h2>{{ settings.store_one_banner_with_features_title }}</h2>
            <p>{{ settings.store_one_banner_with_features_des }}</p>

            <div class="grid_features">
              {% for feature in safeget(settings, 'store_one_banner_with_features_features', []) %}
              <div class="feature-item">
                <img src="{{ image_url(feature.icon) }}" loading="lazy" alt="">
                <h6>{{ feature.title }}</h6>
                <p>{{ feature.description }}</p>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>

        <div class="col-lg-5 p-2">
          <div class="banner_with_features_image">
            <img src="{{ image_url(settings.store_one_banner_with_features_image) }}" loading="lazy" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>

  {# store features #}
  <section class="s-block store_features">
    <div class="container">
      <div class="tp-section-title-wrapper mb-4">
        <h2 class="tp-section-title">{{ settings.store_one_features_title }}</h2>
      </div>

      <div class="features_wrapper">
        {% for feature in settings.store_one_features_features %}
        <div class="feature_item">
          <div class="feature_icon">
            <img src="{{ image_url(feature.icon) }}" loading="lazy" alt="">
          </div>

          <div class="feature_content">
            <h6>{{ feature.title }}</h6>
            <p>{{ feature.description }}</p>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>

  {# banner with content #}
  <section class="s-block banner_with_content">
    <div class="container">
      <div class="banner_with_content_image">
        <img src="{{ image_url(settings.store_one_banner_with_content_image) }}" loading="lazy" alt="">
        
        <div class="banner_with_content_content">
          <h2>{{ settings.store_one_banner_with_content_title }}</h2>
          <p>{{ settings.store_one_banner_with_content_des }}</p>

          {% if settings.store_one_banner_with_content_btn_text %}
            <a href="{{ settings.store_one_banner_with_content_btn_url }}" class="tp-btn">
              {{ settings.store_one_banner_with_content_btn_text }}
              <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M7.99984 14.6666C4.31794 14.6666 1.33317 11.6818 1.33317 7.99992C1.33317 4.31802 4.31794 1.33325 7.99984 1.33325C11.6817 1.33325 14.6665 4.31802 14.6665 7.99992C14.6665 11.6818 11.6817 14.6666 7.99984 14.6666Z" stroke="#131313" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M10.3335 8H6.3335" stroke="#131313" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M7.6665 10L5.6665 8L7.6665 6" stroke="#131313" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </a>
          {% endif %}
        </div>
      </div>
    </div>
  </section>

{%elif category.slug == "store-two" %}
  <section class="store-one-two">
    {% if settings.store_two_hero_video %}
      <video autoplay muted loop playsinline>
        <source src="{{ image_url(settings.store_two_hero_video) | trim }}" type="video/mp4">
        Your browser does not support the video tag.
      </video>
    {% endif %}

    <div class="container">
      <div class="tp-hero-content">
        {% if settings.store_two_hero_subtitle %}
          <span>{{ settings.store_two_hero_subtitle }}</span>
        {% endif %}

        {% if settings.store_two_hero_title %}
          <h1>{{ settings.store_two_hero_title }}</h1>
        {% endif %}

        {% if settings.store_two_hero_des %}
          <p>{{ settings.store_two_hero_des }}</p>
        {% endif %}
  
        {% if settings.store_two_hero_btn_text and settings.store_two_hero_url %}
          <a href="{{ settings.store_two_hero_url }}">
            {{ settings.store_two_hero_btn_text }}
            <span class="icon">
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M20 12H4M4 12L10 6M4 12L10 18" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </span>
          </a>
        {% endif %}
      </div>
    </div>
  </section>

  {# Store Two categories Section #}
  <section class="store-two-categories s-block">
    <div class="container">
      <div class="tp-section-title-wrapper mb-4">
        <h2 class="tp-section-title">{{ settings.store_two_cat_section_title }}</h2>
      </div>

      <div class="store-two-cat-slider swiper-container">
        <div class="swiper-wrapper">
          {% for categoryItem in safeget(settings, 'store_two_cat_section_categories', []) %}
          <div class="swiper-slide">
            <div class="store-two-cat-item">
              {% if categoryItem.image %}
              <div class="cat-thumb">
                <a href="{{ categoryItem.url }}">
                  <img loading="lazy" src="{{ image_url(categoryItem.image, { w: 235, q: 100, f:'auto' }) }}"
                    alt="{{ categoryItem.title }}">
                </a>
              </div>
              {% endif %}
              <div class="cat-content">
                <h3 class="cat-title">
                  <a href="{{ categoryItem.url }}">{{ categoryItem.title }}</a>
                </h3>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </section>
{%else%}
  {% if category.cover_image %}
  <div class="container">
    <img loading="lazy" class="category-cover-img" src="{{ image_url(category.cover_image) }}" alt="cover_image"></img>
  </div>
  {% endif %}

  <div class="breadcrumb-subtitle">
    <section class="breadcrumb-section">
      <nav aria-label="breadcrumb">
        <div class="container">
          <ol class="breadcrumb">
            <li class="breadcrumb-item" aria-current="page">
              <a href="/">{{ _('Home') }}</a>
            </li>
            {% if category.parent_category.parent_category %}
            <li class="breadcrumb-item" aria-current="page">
              <a href="{{ category.parent_category.parent_category.url }}">{{
                category.parent_category.parent_category.name }}</a>
            </li>
            {% endif %}
            {% if category.parent_category %}
            <li class="breadcrumb-item" aria-current="page">
              <a href="{{ category.parent_category.url }}">{{ category.parent_category.name }}</a>
            </li>
            {% endif %}
            <li class="breadcrumb-item active " aria-current="page">{{ category.name }}</li>
          </ol>
        </div>
      </nav>
    </section>
    {% set img = category.image %}
    {% set title = category.name %}
    {% set description = category.description %}
    {% include 'components/breadcrumb-subTitle-detail.jinja' %}
  </div>

  {% if category.sub_categories | length > 0 %}
  <div class="container">
    <div class="home-categories-section {% if fixed_on_mobile %}fixed-mobile{% endif %}">
      <div class="tp-category-swiper swiper-container">
        <div class="swiper-wrapper">
          {% for categoryItem in category.sub_categories %}
          <div class="swiper-slide">
            <div class="tp-product-category-item">
              {% if categoryItem.image %}
              <div class="tp-product-category-thumb fix">
                <a href="/categories/{{ categoryItem.id }}/{{ categoryItem.slug }}">
                  <img loading="lazy" src="{{ image_url(categoryItem.image, { w: 235, q: 100, f:'auto' }) }}"
                    alt="{{ categoryItem.name }}">
                </a>
              </div>
              {% endif %}
              <div class="tp-product-category-content">
                <h2 class="tp-product-category-title">
                  <a href="/categories/{{ categoryItem.id }}/{{ categoryItem.slug }}">{{ categoryItem.name }}</a>
                </h2>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const isMobile = window.innerWidth <= 768;
        const fixedMode = {{ 'true' if fixed_on_mobile else 'false' }};
      if (!(isMobile && fixedMode)) {
        var catgSlider = new Swiper(".tp-category-swiper", {
          slidesPerView: "auto",
          spaceBetween: 16,
          freeMode: true,
          autoplay: {
            delay: 3000,
          },
          navigation: {
            nextEl: ".tp-slider-button-next",
            prevEl: ".tp-slider-button-prev",
          },
          breakpoints: {
            0: {
              spaceBetween: 10,
              slidesPerView: "auto",
            },
            768: {
              slidesPerView: "auto",
              spaceBetween: 16,
            },
          },
        });
      }
            });
    </script>
  </div>
  {% endif %}

  <div class="container">
    <div class="products-filters-box">
      {% if products.filters|length > 0 %}
      {% set async=true %} {% include 'vitrin:products/filters.jinja' %}
      {% endif %}
      <div class="products-container">
        <div>
          {% set count=products.count %}{% set has_products_filtration=(products.filters|length > 0) %}{% include
          'components/products-filter.jinja' %}
        </div>
        <div id="products-list" class="products-grid">
          {% for product in products.results %}
          {% set product=product %}{% set index=loop.index0 %}{% include 'components/product-card.jinja' %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

  <button id="load-more-button" class="load-more-button tp-btn tp-btn-primary" data-pages="{{ products.pages_count }}">
    <span class="btn-loader d-none">
      <span class="loader-more"></span>
    </span>
    <span class="btn-label">{{ _('Load more') }}</span>
  </button>

  <div class="container">
    {% set entity = category %}
    {% include 'vitrin:shared/metafields.jinja' %}
  </div>
{% endif %}

{% endblock %}

{% block footer %}
{% include 'footer.jinja' %}
{% endblock %}


{% block footer_scripts %}
<script type="text/javascript" src="{{ 'toastr.min.js' | asset_url }}"></script>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        if (document.querySelector('.store-one-cat-slider')) {
            new Swiper('.store-one-cat-slider', {
                slidesPerView: 2,
                spaceBetween: 16,
                breakpoints: {
                    576: { slidesPerView: 3, spaceBetween: 20 },
                    768: { slidesPerView: 4, spaceBetween: 24 },
                    992: { slidesPerView: 5, spaceBetween: 30 },
                    1200: { slidesPerView: 6, spaceBetween: 30 }
                }
            });
        }
        if (document.querySelector('.store-two-cat-slider')) {
            new Swiper('.store-two-cat-slider', {
                slidesPerView: 2,
                spaceBetween: 16,
                breakpoints: {
                    576: { slidesPerView: 3, spaceBetween: 20 },
                    768: { slidesPerView: 4, spaceBetween: 24 },
                    992: { slidesPerView: 5, spaceBetween: 30 },
                    1200: { slidesPerView: 6, spaceBetween: 30 }
                }
            });
        }
    });
</script>
  
<script>
  window.onProductAttributesTriggered = function () {
    $('#products-list').css('opacity', '0.4');
    $('#product-pagination').css('opacity', '0');

  }

  window.onProductAttributesChanged = function (htmlStr) {
    var html = $.parseHTML(htmlStr);
    $('#products-list').html($('#products-list', html).html());
    $('#products-list').css('opacity', '1');
    $('#product-filter-count').html($('#product-filter-count', html).html());
    $('#product-filter-count').css('opacity', '1');
    if ($('#product-pagination', html).length > 0) {
      $('#product-pagination').html($('#product-pagination', html).html());
      $('#product-pagination').css('opacity', '1');
    }
  }
</script>

<script type="text/javascript" src="{{ 'load-more.js' | asset_url }}"></script>

<script>
  window.addEventListener('DOMContentLoaded', (event) => {
    // الحصول على القيم من الحقول المخفية
    var fromPriceInput = document.querySelector("input[name='from_price'][type='hidden']");
    var toPriceInput = document.querySelector("input[name='to_price'][type='hidden']");

    if (fromPriceInput && toPriceInput) {
      var fromPrice = fromPriceInput.value;
      var toPrice = toPriceInput.value;

      // تعيين القيم في الحقول "من" و "إلى"
      var fromPriceField = document.querySelector(".attribute-price-body input[name='from_price']");
      var toPriceField = document.querySelector(".attribute-price-body input[name='to_price']");

      if (fromPriceField && toPriceField) {
        fromPriceField.value = fromPrice;
        toPriceField.value = toPrice;
      }
    }
  });

  // إضافة مكتبة noUiSlider ديناميكيًا
  function loadNoUiSlider(callback) {
    let link = document.createElement("link");
    link.rel = "stylesheet";
    link.href = "https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/15.6.1/nouislider.min.css";
    document.head.appendChild(link);

    let script = document.createElement("script");
    script.src = "https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/15.6.1/nouislider.min.js";
    script.onload = callback;
    document.body.appendChild(script);
  }

  // إضافة الشريط بعد تحميل المكتبة
  loadNoUiSlider(() => {
    // حدد العنصر الذي تريد إضافة شريط التمرير إليه
    const priceContainer = document.querySelector(".attribute-price-body .form-row");

    // تحقق من وجود العنصر قبل المتابعة
    if (!priceContainer) {
      return;
    }

    // إنشاء عنصر جديد لشريط التمرير
    const sliderContainer = document.createElement("div");
    sliderContainer.id = "price-slider";

    // إدراج شريط التمرير بعد الحقول
    priceContainer.insertAdjacentElement("afterend", sliderContainer);

    // إعداد شريط التمرير مع دعم RTL
    noUiSlider.create(sliderContainer, {
      start: [0, 5000], // القيم الافتراضية
      connect: true,
      direction: "{{ 'rtl' if session.lang == 'ar' else 'ltr' }}",
      range: {
        min: 0,
        max: 9000,
      },
      step: 10,
    });

    // الحقول الخاصة بالسعر
    const fromPriceInput = document.querySelector('.attribute-price-body input[name="from_price"]');
    const toPriceInput = document.querySelector('.attribute-price-body input[name="to_price"]');

    // تحقق من وجود الحقول قبل المتابعة
    if (!fromPriceInput || !toPriceInput) {
      console.error("لم يتم العثور على الحقول الخاصة بالسعر.");
      return;
    }

    // تحديث الحقول عند تحريك الشريط
    sliderContainer.noUiSlider.on("update", (values) => {
      fromPriceInput.value = Math.round(values[0]); // تحديث حقل "من"
      toPriceInput.value = Math.round(values[1]); // تحديث حقل "إلى"
    });

    // تحديث الشريط عند تغيير القيم يدويًا في الحقول
    fromPriceInput.addEventListener("change", () => {
      // الحصول على القيمة الحالية من الحقل "من"
      const fromValue = parseFloat(fromPriceInput.value) || 0;
      const toValue = parseFloat(toPriceInput.value) || 5000; // إذا لم تكن هناك قيمة، اجعل "إلى" 5000 كقيمة افتراضية

      // تحديث الشريط باستخدام القيمة المدخلة
      sliderContainer.noUiSlider.set([fromValue, toValue]);
    });

    toPriceInput.addEventListener("change", () => {
      // الحصول على القيمة الحالية من الحقل "إلى"
      const fromValue = parseFloat(fromPriceInput.value) || 0; // استخدام القيمة المدخلة في "من" أو الافتراضية
      const toValue = parseFloat(toPriceInput.value) || 5000; // استخدام القيمة المدخلة في "إلى" أو الافتراضية

      // تحديث الشريط باستخدام القيمة المدخلة
      sliderContainer.noUiSlider.set([fromValue, toValue]);
    });
  });

  const attributeFooter = document.querySelector('.attribute-footer');

  if (attributeFooter) {
    // النص الديناميكي الذي تم استبداله من القالب (مثلاً أثناء التصيير في الخلفية)
    const clearText = '{{ _('Clear') }}'; // سيتم استبداله أثناء توليد HTML

    // إضافة الزر الجديد بعد زر "حفظ"
    attributeFooter.insertAdjacentHTML(
      'beforeend', // الإضافة في نهاية الحاوية
      `<button id="products-list-filter-form-clear" type="button" class="tp-btn tp-btn-primary-outline" onclick="clearFilters()">
            <span>${clearText}</span>
        </button>`
    );
  }

  const filterButton = document.querySelector('.open-close-filter');
  const productAttributes = document.querySelector('.product-attributes');
  const overlayFilter = document.querySelector('.overlay-filter');
  const filtrationHeader = document.querySelector('.filtration-header'); // البحث عن العنصر

  // إضافة event listener للزر
  filterButton.addEventListener('click', () => {
    // تبديل الكلاس للفلتر
    productAttributes.classList.toggle('hide-filter');

    // إذا كانت الشاشة أقل من أو تساوي 1200px
    if (window.innerWidth <= 1200) {
      overlayFilter.classList.toggle('active');

      // التحقق مما إذا كان العنصر filtration-header موجودًا
      if (filtrationHeader) {
        // البحث عن العنصر <em> داخل filtration-header، وإذا لم يكن موجودًا، إضافته
        if (!filtrationHeader.querySelector('em')) {
          const emElement = document.createElement('em');
          filtrationHeader.appendChild(emElement);
          emElement.addEventListener('click', () => {
            productAttributes.classList.remove('hide-filter');
            overlayFilter.classList.remove('active'); // إزالة كلاس active أيضًا عند الإغلاق
          });
        }
      }
    }
  });

  // إضافة event listener لـ overlayFilter لإزالة كلاس hide-filter عند النقر عليه
  overlayFilter.addEventListener('click', () => {
    productAttributes.classList.remove('hide-filter');
    overlayFilter.classList.remove('active'); // إزالة كلاس active أيضًا عند الإغلاق
  });

</script>


{% endblock %}